USE [MobileNest]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banners]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[BannerID] [int] IDENTITY(1,1) NOT NULL,
	[BannerImage] [nvarchar](500) NULL,
	[BannerTitle] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[PostDate] [datetime] NULL,
	[CommentsCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL DEFAULT ((1)),
	[AddedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Features]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureName] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ShippingAddress] [nvarchar](max) NULL,
	[BillingAddress] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[Status] [nvarchar](50) NULL DEFAULT ('Pending'),
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductFeatures]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductFeatures](
	[ProductFeatureID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductFeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[OldPrice] [decimal](10, 2) NULL,
	[DiscountLabel] [nvarchar](50) NULL,
	[StockQuantity] [int] NULL DEFAULT ((0)),
	[IsFeatured] [bit] NULL DEFAULT ((0)),
	[IsTopSelling] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[UpdatedAt] [datetime] NULL DEFAULT (getdate()),
	[Status] [bit] NULL DEFAULT ((1)),
	[RAM] [nvarchar](50) NULL,
	[ROM] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](100) NULL,
	[IsSpecialOffer] [bit] NULL DEFAULT ((0)),
	[OfferExpiryDate] [datetime] NULL,
	[OfferTitle] [nvarchar](200) NULL,
	[Image2] [nvarchar](200) NULL,
	[Image3] [nvarchar](200) NULL,
	[Image4] [nvarchar](200) NULL,
	[Image1] [nvarchar](200) NULL,
	[SKU] [nvarchar](100) NULL,
	[SimType] [nvarchar](50) NULL,
	[TouchScreen] [nvarchar](10) NULL,
	[Resolution] [nvarchar](100) NULL,
	[NetworkType] [nvarchar](100) NULL,
	[Battery] [nvarchar](100) NULL,
	[Processor] [nvarchar](200) NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NULL,
	[ReviewTitle] [nvarchar](200) NULL,
	[ReviewText] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[SliderID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[SubTitle] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Testimonials]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testimonials](
	[TestimonialID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Comment] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[Rating] [int] NULL,
	[IsApproved] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[TestimonialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[OTP] [nvarchar](6) NULL,
	[OTPExpiry] [datetime] NULL,
	[IsVerified] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 1/17/2026 1:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[AddedAt] [datetime] NULL DEFAULT (getdate()),
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [Username], [Password]) VALUES (1, N'vishu123', N'1234')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([BannerID], [BannerImage], [BannerTitle], [CreatedDate]) VALUES (2, N'2.jpg', N'I-Phone Sale', CAST(N'2025-08-26 12:20:10.160' AS DateTime))
INSERT [dbo].[Banners] ([BannerID], [BannerImage], [BannerTitle], [CreatedDate]) VALUES (3, N'3.png', N'HeadPhone Sale', CAST(N'2025-08-26 12:21:03.020' AS DateTime))
INSERT [dbo].[Banners] ([BannerID], [BannerImage], [BannerTitle], [CreatedDate]) VALUES (4, N'4.jpg', N'Watch Sale', CAST(N'2025-08-26 12:22:40.550' AS DateTime))
SET IDENTITY_INSERT [dbo].[Banners] OFF
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [UserID], [ProductID], [Quantity], [AddedAt]) VALUES (20, 5, 8, 1, CAST(N'2025-11-03 15:03:46.183' AS DateTime))
INSERT [dbo].[Cart] ([CartID], [UserID], [ProductID], [Quantity], [AddedAt]) VALUES (21, 5, 6, 1, CAST(N'2025-11-03 15:20:53.993' AS DateTime))
INSERT [dbo].[Cart] ([CartID], [UserID], [ProductID], [Quantity], [AddedAt]) VALUES (31, 6, 10, 1, CAST(N'2025-11-28 14:40:39.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'CellPhone')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'SmarPhone')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([ID], [FirstName], [LastName], [Subject], [Message], [CreatedAt]) VALUES (1, N'Cyber', N'Vishu', N'Reload Problem', N'solve kr', CAST(N'2025-10-24 15:47:41.037' AS DateTime))
INSERT [dbo].[ContactMessages] ([ID], [FirstName], [LastName], [Subject], [Message], [CreatedAt]) VALUES (2, N'Cyber', N'Vishu', N'Reload Problem', N'solve kr', CAST(N'2025-10-24 15:49:58.047' AS DateTime))
INSERT [dbo].[ContactMessages] ([ID], [FirstName], [LastName], [Subject], [Message], [CreatedAt]) VALUES (3, N'Cyber', N'Vishu', N'Reload Problem', N'solve kr', CAST(N'2025-10-24 15:51:53.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([FeatureID], [FeatureName], [Url], [Status]) VALUES (1, N'Gaming ', NULL, 1)
INSERT [dbo].[Features] ([FeatureID], [FeatureName], [Url], [Status]) VALUES (2, N'Duel Speakers', NULL, 1)
SET IDENTITY_INSERT [dbo].[Features] OFF
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Price], [Total]) VALUES (1, 1, 3, 4, CAST(2999.00 AS Decimal(10, 2)), CAST(11996.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Price], [Total]) VALUES (2, 1, 2, 1, CAST(186999.00 AS Decimal(10, 2)), CAST(186999.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Price], [Total]) VALUES (3, 3, 1, 1, CAST(186999.00 AS Decimal(10, 2)), CAST(186999.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [TotalPrice], [PaymentMethod], [ShippingAddress], [BillingAddress], [CreatedAt], [Status]) VALUES (2, 2, CAST(198998.00 AS Decimal(10, 2)), N'Cash on Delivery', N'Vishal Garg, kothiyan, bhilwara, rajasthan, 311023, USA State', N'Vishal Garg, kothiyan, bhilwara, rajasthan, 311023, USA State', CAST(N'2025-09-23 14:51:52.853' AS DateTime), N'Delivered')
INSERT [dbo].[Orders] ([OrderID], [UserID], [TotalPrice], [PaymentMethod], [ShippingAddress], [BillingAddress], [CreatedAt], [Status]) VALUES (3, 2, CAST(187002.00 AS Decimal(10, 2)), N'Direct Bank Transfer', N'Vishal Garg, kothiyan, bhilwara, rajasthan, 311023, USA State', N'Vishal Garg, kothiyan, bhilwara, rajasthan, 311023, USA State', CAST(N'2025-09-23 15:13:18.177' AS DateTime), N'Delivered')
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[ProductFeatures] ON 

INSERT [dbo].[ProductFeatures] ([ProductFeatureID], [ProductID], [FeatureID]) VALUES (1, 5, 2)
INSERT [dbo].[ProductFeatures] ([ProductFeatureID], [ProductID], [FeatureID]) VALUES (2, 6, 1)
INSERT [dbo].[ProductFeatures] ([ProductFeatureID], [ProductID], [FeatureID]) VALUES (3, 7, 1)
SET IDENTITY_INSERT [dbo].[ProductFeatures] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [ReviewTitle], [ReviewText], [CreatedAt]) VALUES (1, 5, 2, 4, N'Good', N'good product', CAST(N'2025-10-25 15:23:55.550' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [ReviewTitle], [ReviewText], [CreatedAt]) VALUES (2, 5, 2, 1, N'Good', N'good', CAST(N'2025-10-25 15:25:42.207' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [ReviewTitle], [ReviewText], [CreatedAt]) VALUES (3, 5, 2, 5, N'Good', N'very ghoood', CAST(N'2025-10-25 15:26:01.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([SliderID], [Title], [SubTitle], [Description], [Price], [OldPrice], [ImagePath], [CreatedAt], [Status]) VALUES (1, N'Enhanced Technology', N'Live a better day', N'The ship set ground on the shore of this uncharted desert isle with Gilligan the Skipper too the millionaire and his story.', CAST(29000.00 AS Decimal(18, 2)), CAST(49000.00 AS Decimal(18, 2)), N'1.jpg', CAST(N'2025-08-25 14:49:46.653' AS DateTime), 1)
INSERT [dbo].[Sliders] ([SliderID], [Title], [SubTitle], [Description], [Price], [OldPrice], [ImagePath], [CreatedAt], [Status]) VALUES (2, N'Enhanced Technology', N'GAMING MOBILE', N'The ship set ground on the shore of this uncharted desert isle with Gilligan the Skipper too the millionaire and his story.', CAST(29000.00 AS Decimal(18, 2)), CAST(49000.00 AS Decimal(18, 2)), N'2.png', CAST(N'2025-08-25 14:50:27.130' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Sliders] OFF
SET IDENTITY_INSERT [dbo].[Testimonials] ON 

INSERT [dbo].[Testimonials] ([TestimonialID], [Name], [Comment], [ImageUrl], [Rating], [IsApproved], [CreatedAt]) VALUES (1, N'Vishal Garg', N'Good', NULL, 3, 1, CAST(N'2025-09-26 16:40:51.827' AS DateTime))
INSERT [dbo].[Testimonials] ([TestimonialID], [Name], [Comment], [ImageUrl], [Rating], [IsApproved], [CreatedAt]) VALUES (2, N'Siddhu Bhai', N'Very Good', NULL, 0, 1, CAST(N'2025-09-26 17:02:05.653' AS DateTime))
INSERT [dbo].[Testimonials] ([TestimonialID], [Name], [Comment], [ImageUrl], [Rating], [IsApproved], [CreatedAt]) VALUES (3, N'Vishal Garg', N'gi', NULL, 0, 1, CAST(N'2025-10-25 14:34:14.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[Testimonials] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [OTP], [OTPExpiry], [IsVerified], [CreatedAt]) VALUES (1, N'cybervishu055@gmail.com', N'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', NULL, NULL, 1, CAST(N'2025-09-22 13:35:00.260' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [OTP], [OTPExpiry], [IsVerified], [CreatedAt]) VALUES (2, N'siddhitailor8@gmail.com', N'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', NULL, NULL, 1, CAST(N'2025-09-22 14:11:54.623' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [OTP], [OTPExpiry], [IsVerified], [CreatedAt]) VALUES (5, N'nikhilrupani17@gmail.com', N'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', NULL, NULL, 1, CAST(N'2025-11-03 15:02:22.243' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [AddedAt], [Status]) VALUES (1, 2, 3, CAST(N'2025-09-25 16:50:24.843' AS DateTime), 0)
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [AddedAt], [Status]) VALUES (2, 2, 2, CAST(N'2025-09-26 13:43:28.723' AS DateTime), 0)
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [AddedAt], [Status]) VALUES (3, 2, 3, CAST(N'2025-09-26 13:43:33.627' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__A9D105347905BA24]    Script Date: 1/17/2026 1:36:45 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductFeatures]  WITH CHECK ADD FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Features] ([FeatureID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductFeatures]  WITH CHECK ADD  CONSTRAINT [FK__ProductFe__Produ__44FF419A] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductFeatures] CHECK CONSTRAINT [FK__ProductFe__Produ__44FF419A]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
