<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- Change Data Source, Initial Catalog, User ID & Password as per your SQL Server -->
    <add name="MyCon" connectionString="Data Source=DESKTOP-MK67S2D\SQLEXPRESS;Initial Catalog=MobileNest;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>